<html>

<head>
    <title>Location List</title>

    <style>
        table,
        th,
        td {
            border: 2px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
        }
    </style>
</head>

<body>
    <h1>Samsa Named Location DDNS Update Applicaton</h1>
    <ul>
        <li><a href="{{ url_for('admin_get') }}">Return to Admin Page</a><br></li>
        <li><a href="{{ url_for('list_get') }}">See List of Locations</a><br></li>
        <li><a href="{{ url_for('list_get_m365') }}">See List of Locations with Up to Date Microsoft Status</a><br></li>
        <li><a href="{{ url_for('add_location_get') }}">Add a new Location</a><br></li>
    </ul>
    <h2>Location List</h2>
    <table>
        <tr>
            <th><label>Location ID</label></th>
            <th><label>Display Name</label></td>
            <th><label>IP Address</label></th>
            <th><label>Is Trusted</label></th>
            <th><label>M365 IP Address</label></th>
            <th><label>M365 Is Trusted</label></th>
        </tr>
        {% for config in configs %}
        <tr>
            <td><label>{{ config.location_id }}</label></td>
            <td><label>{{ config.display_name }}</label></td>
            <td><label>{{ config.ip_address }}</label></td>
            <td><label>{{ config.is_trusted }}</label></td>
            <td><label></label></td>
            <td><label></label></td>
            <td><a href="{{ url_for('edit_location_get', id_number=config.location_id) }}">Edit Location</a></td>
            <td><a href="{{ url_for('delete_location_get', id_number=config.location_id) }}">Delete Location</a></td>
        </tr>
        <tr></tr>
        {% endfor %}
        </form>
    </table>
    <br><br>
</body>

</html>